body {
    background-image: url(./images/earth.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: "Sofia", sans-serif;
}

.heading {
    color: #fff;
    font-size: xx-large;
}

.links {
    text-align: right;
    color: white;
}

.links ul li {
    list-style: home;
    display: inline-block;
    margin: 0 20px;
}

.links ul li a {
    text-decoration: none;
    color: white;
}

.links ul li a:hover {
    color: red;
    transition: 0.5s;
}

.loginbox {
    font-size: x-large;
    width: 400px;
    height: 400px;
    background: transparent;
    top: 53%;
    left: 85%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    color: white;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid rgb(55, 70, 202);
    background: transparent;
    outline: none;
    height: 40px;
    color: #4125fb;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 30px;
    width: 100px;
    background: #4125fb;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
}

.loginbox input[type="submit"]:hover
{
    background-color: black;
    cursor: pointer;
}

.acc{
    font-size: medium;
}

.sect {
    font-size: x-large;
    width: 400px;
    height: 400px;
    background: transparent;
    top: 65%;
    right: 55%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    color: white;
}

.sect ol li {
    font-size: medium;
    display: block;
    text-align: left;
}

h3 {
    text-align: left;
    color: white;
}