body {
    background-image: url(./images/earth.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-family: "Sofia", sans-serif;
}

.links {
    text-align: right;
    color: white;
}

.links ul li {
    list-style: home;
    display: inline-block;
    margin: 0 20px;
}

.links ul li a {
    text-decoration: none;
    color: white;
}

.links ul li a:hover {
    color: red;
    transition: 0.5s;
}

.world {
    width: 400px;
    height: 400px;
    background: transparent;
    top: 50%;
    left: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    color: white;
}

.earth {
    width: 400px;
    height: 400px;
    background: transparent;
    top: 50%;
    right: 55%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    color: white;
}

.solarsystem {
    width: 500px;
    height: 300px;
    background: transparent;
    top: 110%;
    right: 17%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    color: white;
}

.blog {
    width: 200px;
    height: 200px;
    background: transparent;
    top: 20%;
    right: 37%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    color: white;
}

.block {
    top: 130%;
    left: 23%;
    margin-bottom: 100px;
    position:absolute;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 50px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 550px;
    display: flex;
}

.slides input{
    display: none;
}

.slides{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position:absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #4125fb;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #4125fb;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -500%;
}
#radio3:checked ~ .first{
    margin-left: -1000%;
}
#radio4:checked ~ .first{
    margin-left: -1500%;
}
#radio5:checked ~ .first{
    margin-left: -2000%;
}
#radio6:checked ~ .first{
    margin-left: -2500%;
}
#radio7:checked ~ .first{
    margin-left: -3000%;
}
#radio8:checked ~ .first{
    margin-left: -3500%;
}

.nothing {
    background: transparent;
    top: 200%;
    position: absolute;
}

@media (max-width: 700px) {
    body {
        background-image: url(./images/earth.jpg); 
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        text-align: center;
        font-family: "Sofia", sans-serif;
    }

    .links {
        text-align: center;
        color: white;
    }

    .links ul li {
        list-style: home;
        display: inline-block;
        margin: 0 20px;
        text-align: center;
    }
    

    .blog {
        width: 200px;
        height: 150px;
        background: transparent;
        top: 30%;
        left: 80%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        color: white;
    }

    .world {
        width: 400px;
        height: 500px;
        background: transparent;
        top: 90%;
        left: 80%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        color: white;
    }

    .earth {
        width: 400px;
        height: 400px;
        background: transparent;
        top: 160%;
        left: 80%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        color: white;
    }

    .solarsystem {
        width: 500px;
        height: 300px;
        background: transparent;
        top: 215%;
        left: 80%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        color: white;
    }

    .block {
        top: 250%;
        left: 0%;
        margin-bottom: 100px;
        position:absolute;
    }

}